/* Reset the default styles */
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Style the main content */
main {
	padding: 50px;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	margin-bottom: 30px;
}

a {
	display: inline-block;
	padding: 15px 30px;
	background-color: #01adef;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 10px;
}

a:hover {
	background-color: #008ec6;
}

form {
	display: inline-block;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
	display: block;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	width: 100%;
}

button[type="submit"] {
	display: inline-block;
	padding: 12px 24px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;}

    /* Style the footer */
footer {
	background-color: #01adef;
	padding: 20px;
	color: #fff;
	text-align: center;
}