header nav {
    text-align: right;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline-block;
    margin-right: 20px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav a {
	display: inline-block;
	padding: 15px 30px;
	background-color: #01adef;
	color: #fff;
	text-decoration: none;
    font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;

    -webkit-box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
}

header nav a:hover {
	background-color: #008ec6;
}

header nav a.active {
    color: #ed0d63;
}

header .logo img {
    float: left;
    height: 110px;
    margin-top: -20px;
}