<!DOCTYPE html>
<html>
<head>
	<title>CareFinder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="homepage"class="active">Home</a></li>
				<li><a href="#">Find a caregiver</a></li>
				<li><a href="become-a-caregiver">Become a caregiver</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Welcome to CareFinder</h1>
		<p>Find the right caregiver for your loved one or become a caregiver and start making a difference today!</p>
		<a href="#">Find a caregiver</a>
		<a href="become-a-caregiver">Become a caregiver</a>
	</main>
	<footer>
		<p>&copy; 2023 CareFinder</p>
	</footer>
</body>
</html>